.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.element {
    max-width: 100px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-bottom: 5px;
    background: linear-gradient(to top left, powderblue, pink);
}

.img {
    width: 100px;
    height: 100px;
}

.input {
    display: none;
}

.button {
    margin-top: 20px;
    border-radius: 4px;
}
.back {
    background: radial-gradient(at top, #FEFFFF, #A7CECC);
}
